@import url("https://fonts.googleapis.com/css?family=Montserrat:900");

html {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to bottom right, #183059, #37578d) fixed;
}

body {
  padding: 50px;
}

img {
  background-color: white;
  display: block;
  margin: 30px auto;
  width: 25%;
  border: 0.5vh solid black;
  border-radius: 1vh;
}

video {
  width: 50%;
  display: block;
  margin: auto;
}

#title {
  text-align: center;
  color: #f0a202;
  font-size: 3rem;
}

#countdown {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#box {
  margin: 3vh;
  width: 18vh;
  height: 11vh;
  color: #213c6d;
  background-color: #f0a202;
  border-radius: 1vh;
  border: 0.5vh solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#timeUp {
  margin: 0 auto;
  font-size: 40px;
  text-align: center;
  color: #213c6d;
  background-color: #f0a202;
  border: 0.5vh solid black;
  border-radius: 1vh;
  margin: 3vh;
}

#days,
#hours,
#minutes,
#seconds {
  font-size: 4vh;
}
